/*
 * Google Fonts
 */

@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:ital,wght@0,400;1,300&family=Source+Sans+Pro&family=Yanone+Kaffeesatz:wght@500&family=Sriracha&display=swap");
/*
 * Global styles
 */
body {
  font-family: "Open Sans", sans-serif;
  min-height: 75rem;
  padding-top: 4.5rem;
  position: relative;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Yanone Kaffeesatz", sans-serif;
}
a, a:hover, a:focus {
  text-decoration: none;
}
/* .svg-inline--fa {
	color: #FFDA00;
} */

/*
* jumbotron
*/
.jumbotron {
  font-family: "Roboto", sans-serif;
}
.card-header {
  background-color: #0074d9;
}

/*
* NavBar
*/
.navbar-brand {
  font-family: "Sriracha", cursive;
  text-transform: uppercase;
  color: #ffda00 !important;
  color: #ffdc07 !important;
  font-weight: 200;
  font-size: 2.2em;
}
/* .navbar-brand:after {
    content: '\u002B';
} */
nav > a.navbar-brand > span {
  font-size: 1.5em !important;
  font-weight: 600;
}
/* nav > a.navbar-brand > strong > span {
  font-size: 1.3em;
  font-weight: lighter;
  font-family: "Yanone Kaffeesatz", sans-serif;
} */
/* Links */
.navbar-light .navbar-nav .nav-link {
  font-weight: 700;
  color: #fff !important;
  background-color: transparent;
  border-bottom: 0.25rem solid transparent;
}
.navbar-light .navbar-nav .active .nav-link {
  color: #ffdc07 !important;
  border-bottom-color: #ffdc07 !important;
}
.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus {
  color: rgba(0, 0, 0, 0.5) !important;
  border-bottom-color: rgba(0, 0, 0, 0.5) !important;
}
.navbar-light .navbar-nav .active .nav-link:hover,
.navbar-light .navbar-nav .active .nav-link:focus {
  color: #ffdc07 !important;
  border-bottom-color: rgba(0, 0, 0, 0.5) !important;
}
/*
* Sobre nosotros
*/
#sobre-nosotros .contact-info svg {
  margin-right: 3%;
}
#sobre-nosotros .contact-info a {
  color: #ffc107;
  font-family: "Roboto", sans-serif;
}
#sobre-nosotros .contact-info a:hover,
#sobre-nosotros .contact-info a:focus {
  color: rgba(0, 0, 0, 0.5);
}
.icon-holder {
  margin-right: 2%;
  display: inline-block;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background: #ffc107;
  padding: 3%;
}

/*
* Contact
*/
#contact {
  font-family: "Roboto", sans-serif;
}
.card h2 button {
  font-size: 1.2rem;
}
/*
* Footer
*/
#footer {
  font-family: "Source Sans Pro", sans-serif;
  color: rgba(255, 255, 255, 0.5);
  background-color: #333;
  display: -ms-flexbox;
  display: flex;
  text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, 0.5);
  text-align: center !important;
  font-size: 1.2em;
}
#footer a:first-child {
  color: #ffdc07;
  font-size: 2.4rem;
  transition: transform 1s;
}
#footer a:first-child:hover {
  color: #fff;
  text-decoration: none;
  transform: scale(1.2);
}
#footer svg {
  color: #328fe0;
  transition: transform 1s;
}
#footer svg:hover {
  transform: scale(1.2);
}
#footer svg[class="fa-linkedin"] {
  color: #328fe0;
}
#footer svg.fa-whatsapp {
  color: #8fe032;
}
.inner {
  padding: 1.75rem 1.25rem;
  font-weight: 700;
  width: 100%;
}
